 <beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:context="http://www.springframework.org/schema/context"
   xmlns:mvc="http://www.springframework.org/schema/mvc"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
	
   <!-- spring will automatically look for this package wil all the controller classes, we dont need to add each and every controller 
   again and again 
   We dont need these :   
   <bean id="handlermapping"  class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>
   <bean name="welcome.jsp" class="com.springmvc.HelloController"/> -->
   
   <!-- Here we have to specify the controller package and not the controller path, the front controller will itself search for the controller based on the URL
   It knows all the controller and their mapping -->
   <context:component-scan base-package="com.springmvc.httpmethods" />
   <mvc:annotation-driven/>
   
   <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
      <property name="prefix" value="/WEB-INF/jsp/" />
      <property name="suffix" value=".jsp" />
   </bean>
 
</beans>